# Python 1.1

Input, output, variables, types, conditionals

# Input => Process => Output

1. Identify the problem inputs (requirements)
2. Identify the problem outputs (results)
3. Write an algorithm to transform inputs to outputs.
4. If you don't know how to do a step... research it!

[![](https://mermaid.ink/img/pako:eNpFjs0KwjAQhF8l7Ll9gRwEWz0Iakt_To2HpdnaQtNITBAJeXdjK7iHYWf4GMZDryUBh2HWr35EY9m5EguLt-9O17JtbpvLuqJt_jb3vqyK_FjXIfxwlqY7lq-aQQKKjMJJxmr_BQTYkRQJ4PGVNKCbrQCxhIiis7p-Lz1waxwl4B4SLR0mvBtUwAecnzElOVltLtvcdXX4AFVJO2c?type=png)](https://mermaid.live/edit#pako:eNpFjs0KwjAQhF8l7Ll9gRwEWz0Iakt_To2HpdnaQtNITBAJeXdjK7iHYWf4GMZDryUBh2HWr35EY9m5EguLt-9O17JtbpvLuqJt_jb3vqyK_FjXIfxwlqY7lq-aQQKKjMJJxmr_BQTYkRQJ4PGVNKCbrQCxhIiis7p-Lz1waxwl4B4SLR0mvBtUwAecnzElOVltLtvcdXX4AFVJO2c)

# Python input and output

`print()` does output  
`input()` does input, returns input so you must assign it to a variable

In [ ]:
x = input("Enter something: ")
print(x)

# Code Challenge 1-1-1

Write a program to input your first name and last name then output your last name, first name

# F-Strings

- F-Strings are Python's answer to **string interpolation**.
- This replaces the variable name with its value within a string.
- Called an F-string because the `f` tells Python to interpolate the string.

In [ ]:
name = "George"
print("{name} was curious.")
print(f"{name} was curious.")

# Check Yourself 1

Which is an example of a properly used string literal?

A. `print(welcome)`  
B. `print("welcome")`  
C. `print "welcome"`  
D. `print welcome`

# Variables

- **Variables** are named areas of computer memory for storing data. 
- The **name** can be anything but should make symbolic sense to the programmer.
- We **write** to the variableâ€™s memory location with the assignment statement (=)
- We **read** from the variable by calling its name. 
- Variable names must begin with a letter or _ and must only contain letters, numbers or _.

# Variables are of a Specific Type

<table style="font-size:1.2em;">
    <thead><tr>
        <th>Type</th>
        <th>Purpose</th>
        <th>Examples</th>
    </tr></thead>
    <tbody>
    <tr>
        <td><code>int</code></td>
        <td>Numeric type for integers only</td>
        <td>45, -10</td>
    </tr>
    <tr>
        <td><code>float</code></td>
        <td>Numeric type floating point numbers</td>
        <td>45, -10</td>
    </tr>
    <tr>
        <td><code>bool</code></td>
        <td>True or False values</td>
        <td>True, False</td>
    </tr>
    <tr>
        <td><code>str</code></td>
        <td>Characters and text</td>
        <td>"A", 'Mike'</td>
    </tr>
  </tbody>
</table>

# Type Detection and Conversion 

<table style="font-size:1.2em;">
    <thead><tr>
        <th>Python Function</th>
        <th>What It Does</th>
        <th>Example of Use</th>
    </tr></thead>
    <tbody>
    <tr>
        <td><code>type(<em>n</em>)</code></td>
        <td>Returns the current type of <em>n</em></td>
        <td><code>type(13) == int</code></td>
    </tr>
    <tr>
        <td><code>int(<em>n</em>)</code></td>
        <td>Converts <em>n</em> to type <b>int</b></td>
        <td><code>int("45") == 45</code></td>
    </tr>
    <tr>
        <td><code>float(<em>n</em>)</code></td>
        <td>Converts <em>n</em> to type <b>float</b></td>
        <td><code>float(45) == 45.0</code></td>
    </tr>
    <tr>
        <td><code>str(<em>n</em>)</code></td>
        <td>Converts <em>n</em> to type <b>str</b></td>
        <td><code>str(4.0) == '4.0'</code></td>
    </tr>
  </tbody>
</table>

# Programmatic Expressions

Programmatic Expressions contain **operators** and **operands**. They evaluate to a value, preserving type:

In [ ]:
print(2 + 2)
print(2.0 + 2)
print("sh" + 'ip')
print('hi' + 2) # error

# Arithmetic Operators

<table style="font-size:1.2em;">
    <thead><tr>
        <th>Operator</th>
        <th>What it Does</th>
        <th>Example of Use</th>
    </tr></thead>
    <tbody>
    <tr>
        <td><code>+</code></td>
        <td>Addition or string concenation</td>
        <td><code>3 + 4 == 7</code></td>
    </tr>
    <tr>
        <td><code>-</code></td>
        <td>Subtraction</td>
        <td><code>4 - 3 == 1</code></td>
    </tr>
    <tr>
        <td><code>*</code></td>
        <td>Multiplication</td>
        <td><code>3 * 4 == 12</code></td>
    </tr>
    <tr>
        <td><code>/</code></td>
        <td>Division</td>
        <td><code>4 / 3 == 1.33333</code></td>
    </tr>
    <tr>
        <td><code>//</code></td>
        <td>Intger division (quotient)</td>
        <td><code>13 // 3 == 4</code></td>
    </tr>
    <tr>
        <td><code>%</code></td>
        <td>Modulo (remainder)</td>
        <td><code>13 % 3 == 1</code></td>
    </tr>
    <tr>
        <td><code>( )</code></td>
        <td>Force an order of operations</td>
        <td><code>2 * (3 + 4) == 14</code></td>
    </tr>
  </tbody>
</table>

# Code Challenge 1-1-2

Let' write a program to divide up the check among diners in a party.

Write a program to input the amount of a restaurant check, tip %, and number of diners

The program should output the total amount with tip, and the amount each diner owes.

# Check Yourself: Which Type 1?

What is the value of `str(314)` ?

A. `314`  
B. `"314"`  
C. `int`  
D. `'34.0'`

# Check Yourself: Which Type 2?

What is the value of `type(314.0)` ?

A. `314`  
B. `float`  
C. `int`  
D. `'314.0'`

# Check Yourself: Operators

What is the output of the following python code?
```
a = 10
b = 2
c = 1 + (a/b)
print(c)
```

A. `6`  
B. `5.5`  
C. `6.0`  
D. `5`

# Program Flow Control with IF

- The **IF** statement is used to branch your code based on a Boolean expression.

In [ ]:
if boolean-expression:
    statements-when-true
else:
    statemrnts-when-false

[![](https://mermaid.ink/img/pako:eNplULsOwjAM_JXIE0jND3RAghYmWICNMJjGpZXapEpcAar676QvCQlP9p0fd-4gs5oghryyr6xAx-J4VkaE2K5WYr2e8t3NMzLVZNjLV0FGsmvpPpHJH5lj5Rc27R7WVoRG0rtx5H1pTT9R-58LWyHlRqTzTCjENVwYMLH7AQ_D5hFNZmXj3H5WshQQQU2uxlIHa91AKuAiSFQQh1RTjm3FCpTpQyu2bC8fk0E8uIqgbXTwk5b4dFhDPLqJgHTJ1p2md41f67-9_WBU?type=png)](https://mermaid.live/edit#pako:eNplULsOwjAM_JXIE0jND3RAghYmWICNMJjGpZXapEpcAar676QvCQlP9p0fd-4gs5oghryyr6xAx-J4VkaE2K5WYr2e8t3NMzLVZNjLV0FGsmvpPpHJH5lj5Rc27R7WVoRG0rtx5H1pTT9R-58LWyHlRqTzTCjENVwYMLH7AQ_D5hFNZmXj3H5WshQQQU2uxlIHa91AKuAiSFQQh1RTjm3FCpTpQyu2bC8fk0E8uIqgbXTwk5b4dFhDPLqJgHTJ1p2md41f67-9_WBU)

# Pythonâ€™s Relational Operators 

<table style="font-size:1.2em;">
    <thead><tr>
        <th>Operator</th>
        <th>What it does</th>
        <th>Examples</th>
    </tr></thead>
    <tbody>
    <tr>
        <td><code> > </code></td>
        <td> Greater than </td>
        <td> 4>2 (True)</td>
    </tr>
    <tr>
        <td><code> < </code></td>
        <td> Less than </td>
        <td> 4<2 (False)</td>
    </tr>
    <tr>
        <td><code> == </code></td>
        <td> Equal To </td>
        <td> 4==2 (False)</td>
    </tr>
    <tr>
        <td><code> != </code></td>
        <td> Not Equal To </td>
        <td> 4!=2 (True)</td>
    </tr>
    <tr>
        <td><code> >= </code></td>
        <td> Greater Than or Equal To </td>
        <td> 4>=2 (True)</td>
    <tr>
        <td><code> <= </code></td>
        <td> Less Than or Equal To </td>
        <td> 4<=2 (True)</td>
    </tr>
  </tbody>
</table>

Expressions consisting of relational operators evaluate to a **Boolean** value

# Code Challenge 1-1-3

a presssure sensor determines whether or not to open a door

When the pressure is larger than 10 we want the door open 

otherwise we want it closed

write code to simulate this

In [ ]:
# Code Challenge 1-1-3

# Check Yourself: Relational Operators

On Which line number is the Boolean expression True?

In [1]:
x = 15
y = 20
z = 2
x > y
z*x <= y
y >= x-z
z*10 == x

False

A. `4`  
B. `5`  
C. `6`  
D. `7`

# Pythonâ€™s Logical Operators

<table style="font-size:1.2em;">
    <thead><tr>
        <th>Operator</th>
        <th>What it does</th>
        <th>Examples</th>
    </tr></thead>
    <tbody>
    <tr>
        <td><code> and </code></td>
        <td> True only when both are True </td>
        <td> 4>2 and 4<5 (True)</td>
    </tr>
    <tr>
        <td><code> or </code></td>
        <td> False only when both are False </td>
        <td> 4<2 or 4==4 (True)</td>
    </tr>
    <tr>
        <td><code> not </code></td>
        <td> Negation(Opposite) </td>
        <td> not 4==2 (True)</td>
    </tr>
    <tr>
        <td><code> in </code></td>
        <td> Set operator </td>
        <td> 4 in [2,4,7] (True)</td>
    </tr>
  </tbody>
</table>

# Check Yourself: Logical Operators

On Which line number is the Boolean expression True?

In [ ]:
raining = False
snowing = True
age = 45
age < 18 and raining
age >= 18 and not snowing
not snowing or not raining
age == 45 and not snowing

A. `4`  
B. `5`  
C. `6`  
D. `7`

# Multiple Decisions: IF ladder

Use elif to make more than one decision in your if statement. Only one code block within the ladder is executed.

In [ ]:
if boolean-expression1:
    statements-when-exp1-true
elif boolean-expression2:
    statements-when-exp2-true
elif boolean-expression3:
    statements-when-exp3-true
else:
    statements-none-are-true

[![](https://mermaid.ink/img/pako:eNptkk9PxCAQxb8KmdNuUg6FnnowWWM96UW9WQ9YprZJCxtKs5qm3136hw3ocpr58TLwHkxQaYmQQ93pS9UIY8nTS6mIW6fDgRyPW32fTp9adygUxe-zoem8cxZz5jmPOd95kb4PVljsUdmBXhr086g1I37sInZbxCIRvy3ikSj7J1J604WqwOiJUHrn7HrbriWPohtwwc6ut_2Hc2874kUWjnlzJ640DYdcKQtHXCn3ua33KnxAUcejLvMdJNCj6UUr3fNOy24JtnFZlJC7UmItxs6WUKrZScVo9euPqiBfkklgPEsX3EMrvozoIa8XTwmgbK02z9uXWX_O_AsXZalz?type=png)](https://mermaid.live/edit#pako:eNptkk9PxCAQxb8KmdNuUg6FnnowWWM96UW9WQ9YprZJCxtKs5qm3136hw3ocpr58TLwHkxQaYmQQ93pS9UIY8nTS6mIW6fDgRyPW32fTp9adygUxe-zoem8cxZz5jmPOd95kb4PVljsUdmBXhr086g1I37sInZbxCIRvy3ikSj7J1J604WqwOiJUHrn7HrbriWPohtwwc6ut_2Hc2874kUWjnlzJ640DYdcKQtHXCn3ua33KnxAUcejLvMdJNCj6UUr3fNOy24JtnFZlJC7UmItxs6WUKrZScVo9euPqiBfkklgPEsX3EMrvozoIa8XTwmgbK02z9uXWX_O_AsXZalz)

In [ ]:
#Elif versus multiple ifs...
# One decision or multiple decisions. 

x = int(input("enter an integer"))

# one decision
if x>10:
    print("A:bigger than 10")
elif x>20:
    print("A:bigger than 20")    

    # Multiple decisions
if x>10:
    print("B:bigger than 10")
if x>20:
    print("B:bigger than 20")

# Check Yourself: IF Statement

Assuming values ` x = 25 and y = 6` what value is printed?

In [ ]:
if x > 20:
    if y == 4:
        print("One")
    elif y > 4:
        print("Two")
    else:
        print("Three")
else:
    print("Four")

A. `One`  
B. `Two`  
C. `Three`  
D. `Four`

# Code Challenge 1-1-4 

### Number to Letter grade

- Letter grades in a college class are computed as follows: 
    
   - 95 and above is an A
   - 75 and above, but below 95 is a B
   - 50 and above, but below 75 is a C
   - below 50 is F
   
- Write a program to input the number grade and calculate the letter grade

- Re-write to account for "bad" grades > 120 or < 0

In [ ]:
# Code for Challenge 1-1-4